<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="budiluhur.ac.id">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivityDaftarMurid"></activity>
        <activity android:name=".MainActivityHelp" />
        <activity android:name=".MainActivityMuridku" />
        <activity android:name=".MainActivityAbout" />
        <activity android:name=".MainActivityMurid" />
        <activity android:name=".MainActivityGuru" />
        <activity android:name=".MainActivityMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>